/* Add CSS Styling */

.odd {
    font-family: "Verdana", "DejaVu Sans", sans-serif;
    background-color: lightpink;
}

#fourth, .odd.third {
    font-size: 25px;
}

#fourth {
    font-weight: bold;
    background-color: rgb(94, 237, 94);
}

#second {
    color: hsl(240, 86%, 52%);
    font-size: 35px;
}